/* Estilo do cabeçalho */
nav {
    background-color: #80d758;
    padding: 40px;
    color: #333;
    font-family: Arial, sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
    
}

nav a:hover {
    color: #ffffff; /* Altera a cor ao passar o mouse */
}

main ol li{
    margin-bottom: 10px;
}

main ol{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;

}

